$("#vital_#{@vital.id} .feces-btn").html("#{j(render 'defecations/defecation', vital: @vital)}");


//便秘機能
- @constipation = current_user.defecation_vitals.vital_three_days
$("#constipation").html("#{j(render 'defecations/constipation', constipation: @constipation)}");
