<div class="card">
  <h2 class="vital_comment">
    <ul class="timeline">
      <li>
        <div class="timeline_item">
          <%= render comments %>
        </div>
      </li>
    </ul>
  </h2>
</div>
