.container.py-3
  .row
    .col-12
      .text-center.footer_text
        = image_tag "ojisan.png", size: "50x50"
        .footer_balloon
          %pこんにちは。これは例です。

        .copyright
          %p Copyright © 2023 バイタル日記
