.container
  = render 'vital', vital: @vital
  .vital
    / コメントエリア
    = render 'comments/comments', { comments: @comments }
    / コメントフォーム
    = render 'comments/form', { vital: @vital, comment: @comment }
