.container
  = link_to "一覧へ",vitals_path, class: "btn btn-secondary btn-sm mb-2"
  %br
  = render 'vital', vital: @vital
  .vital
    / コメントエリア
    = render 'comments/comments', { comments: @comments }
    / コメントフォーム
    = render 'comments/form', { vital: @vital, comment: @comment }
